@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root {
    --success-color: #0a590d;
    --success-background-color: #cdfacf;

    --error-color: #a94442;
    --error-background-color: #f7bcbc;
    --error-hover-color: #7c3332;

    --main-color: orange;
    --hover-main-color: rgb(192, 132, 22);

    --register-color: rgb(7, 130, 5);
    --register-hover-color: rgb(4, 108, 2);

    --black-background-color: rgba(0, 0, 0, 0.7);
    --black-footer-color: rgba(0, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../../../../media/bg.jpg");
    flex-direction: column !important;
}

.elfelejtett-jelszo {
    background-color: var(--black-background-color);
    width: 400px;
    height: 330px;
    color: white;
    border-radius: 4px;
    text-align: center;
}

.elfelejtett-jelszo form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 330px;
    align-items: center;
}

.elfelejtett-jelszo h2 {
    margin-block: 15px;
}

.vissza {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-inline: 32px;
    padding-block: 5px;
    background-color: var(--error-color);
    cursor: pointer;
    margin-top: 25px;
    font-size: 17px;
}

.vissza:hover {
    background-color: var(--error-hover-color);
}

span {
    color: var(--main-color);
}

.elfelejtett-jelszo input {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 16px;
    height: 35px;
    border-radius: 4px;
}

.password-class,
.password-again-class {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    margin-block: 15px;
    border-left: 2px solid var(--main-color);
}

.password-class i,
.password-again-class i {
    color: var(--black-background-color);
    padding-inline: 10px;
    font-size: 18px;
    text-align: center;
}

.elfelejtett-jelszo button[type="submit"] {
    color: white;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    min-height: 40px !important;
    max-height: 40px !important;
    font-weight: bold;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-inline: 12px;
    padding-inline: 16px;
}

@media (max-width: 400px)
{
    .elfelejtett-jelszo,
    .elfelejtett-jelszo form {
        width: 350px !important;
    }

    .rank-infos {
        width: 350px !important;
        min-height: 230px !important;
    }
}

@media (min-width: 401px) and (max-width: 430px) {
    .rank-infos {
        width: 400px !important;
        min-height: 210px !important;
    }
}

.elfelejtett-jelszo p {
    font-weight: bold;
    font-size: 17px;
}

.elfelejtett-jelszo button[type="submit"]:hover {
    background-color: var(--hover-main-color);
}

.error,
.success {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
}

.error {
    color: var(--error-color) !important;
    background-color: var(--error-background-color) !important;
    height: 50px !important;
}

.success {
    color: var(--success-color) !important;
    background-color: var(--success-background-color) !important;
    height: 50px !important;
}

.buttons {
    display: flex !important;
    align-items: center;
    flex-direction: row !important;
    margin-inline: 15px;
}

.price-rank {
    margin-top: 15px;
}

.rank-infos {
    width: 30%;
    height: 150px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 65px;
    background-color: var(--black-background-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rank-infos p {
    margin-inline: 12px;
    width: 80%;
}

.rank-infos p:last-child {
    margin-top: 15px;
}