@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root {
    --success-color: #0a590d;
    --success-background-color: #cdfacf;

    --error-color: #a94442;
    --error-background-color: #f7bcbc;
    --error-hover-color: #7c3332;

    --main-color: orange;
    --hover-main-color: rgb(192, 132, 22);

    --register-color: rgb(7, 130, 5);
    --register-hover-color: rgb(4, 108, 2);

    --black-background-color: rgba(0, 0, 0, 0.7);
    --black-footer-color: rgba(0, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../../../media/bg.jpg");
}

.elfelejtett-jelszo {
    background-color: var(--black-background-color);
    width: 400px;
    height: 340px;
    color: white;
    border-radius: 4px;
    text-align: center;
}

.elfelejtett-jelszo form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 320px;
    align-items: center;
}

.elfelejtett-jelszo h2 {
    margin-block: 15px;
}

span {
    color: var(--main-color);
}

.elfelejtett-jelszo input {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 16px;
    height: 35px;
    border-radius: 4px;
}

.password-class,
.password-again-class {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    margin-block: 15px;
    border-left: 2px solid var(--main-color);
}

.password-class i,
.password-again-class i {
    text-align: center;
    color: var(--black-background-color);
    padding-inline: 10px;
    font-size: 18px;
}

.elfelejtett-jelszo button[type="submit"] {
    color: white;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    padding-inline: 11px;
    padding-block: 5px;
    font-weight: bold;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    margin-top: 25px;
}

@media (max-width: 400px)
{
    .elfelejtett-jelszo,
    .elfelejtett-jelszo form {
        width: 350px;
    }
}

.elfelejtett-jelszo p {
    font-weight: bold;
    font-size: 17px;
}

.elfelejtett-jelszo button[type="submit"]:hover {
    background-color: var(--hover-main-color);
}

.error,
.success {
    padding-block: 5px;
    padding-inline: 12px;
    margin-top: 15px;
    border-radius: 7px;
    font-weight: bold;
}

.error {
    color: var(--error-color) !important;
    background-color: var(--error-background-color) !important;
}

.success {
    color: var(--success-color) !important;
    background-color: var(--success-background-color) !important;
}
